html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
}

.map {
  width: 100%;
  height: 90%;
}

/* .map .ol-zoom {
    top: 10px;
    left: auto;
    right: 10px;

  } */

/* Change the layout of the zoom buttons */
.ol-zoom button,
.ol-zoom button:hover {
    /* Change button background color */
    background-color: rgba(39, 44, 49, 0.9);
    /* Change button font color */
    color: white;
    /* Change the mouse cursor when over button */
    cursor: pointer;
    /* Change the button font style */
    font-size: 20px;
    font-weight: bold;
    /* Change the button size */
    height: 40px;
    line-height: 25px;
    width: 40px;
    padding: 0;
}
  

/* Limit the width of the layer-switcher */
.layer-switcher {
  max-width: 300px;
}